.container__search {
    input {
        border-radius: 20px;
        background: #EBEBEB;
        border: none;
        height: 15px;
        width: 48%;
        padding: 11px 20px;
    }
}

@media screen and (max-width: 480px) {

    .container__search {
        input {
            width: 80%;
        }
    }
}