.container-card {
    max-width: 50%;
    max-height: 278px;
    background: #EBEBEB;
    margin-bottom: 25px;
    cursor: pointer;

    div:first-child {
        box-shadow: 0 0 3px 1px #ccc;
    }

    img {
        &:hover {
            transition: 0.3s;
            opacity: 0.8;
        }
    }

    &__content-lbl {

        div:first-child {
            background: #116193;
            padding: 1px 5px;
            max-height: 50px;

            h2 {
                margin: 10px 0px 12px 35px !important;
            }

            a {
                color: #9A9A9A;
            }
        }

        div:nth-child(2) {
            padding: 15px 30px;
            color: #595959;
            text-align: start;

            p {
                margin-top: 35px;
            }
        }

        &__circle {
            display: flex;
            justify-content: center;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: #116193;
            position: absolute;
            border: 3px solid #00E8E4;
            box-shadow: 0 0 0 3px #116193 !important;
            margin: -53px 0px 0px 20px;

            a {
                color: #00E8E4 !important;
                margin-top: 12px;
                font-size: 24px;
            }
        }

        .show-overview {
            color: #116193;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1250px) {
    h2 {
        text-align: end;
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .container-card {
        max-width: 100%;
        max-height: 100%;

        &__full {
            min-height: 340px;
        } 

        h2 {
            text-align: initial;
            font-size: 18px;
        }

        img {
            max-height: 240px;
        }

        &__content-lbl {

            div:first-child {
                max-height: 100px;

                p {
                    margin-top: 0px;
                }

                header {
                    margin-left: 0px;
                }
            }

            &__circle {
                margin: 197px 0px 0px -130px;
            }
        }
    }
}