.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.justify-center {
    justify-content: center;
}

h1, h2, h3 {
    color: #00E8E4;
}

