.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.justify-center {
    justify-content: center;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.w-100 {
    width: 100% !important;
}

a, p, label, h4, td {
    font-family: 'Lato';
}

h1, h2, h3 {
    color: #00E8E4;
    font-family: 'Abel';
}

/** CHANGE COR DO PLACEHOLDER PARA OPERA, CHROME, EDGE, EXPLORER... */
::placeholder {
    color: #98B7C9;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #98B7C9;
}

::-ms-input-placeholder {
    color: #98B7C9;
}

.ngx-pagination {
    padding-left: 0px !important;

    li a span{
        color: #116193 !important;

    }
    
    a:hover {
        background: transparent !important;
    }
    
    .pagination-next, .pagination-previous  {
        display: none;
    }
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #116193 !important;
    border: 3px solid #00E7E3 !important;
    border-radius: 30px !important;
    box-shadow: 0 0 0 3px #116193 !important;
    width: 13px;
    height: 25px;
    padding: 7px 13px !important;
    font-family: 'Abel' !important;
    color: #00E7E3 !important;
  }
  
  .ngx-pagination .current:hover {
    background: #116193 !important;
    border: 3px solid #00E7E3 !important;
    border-radius: 30px !important;
    box-shadow: 0 0 0 3px #116193 !important;
    width: 13px;
    height: 25px;
    padding: 7px 13px;
    font-family: 'Abel';
    color: #00E7E3 !important;
  }

@font-face {
    font-family: "Abel";
    src: local("Abel"), url('./assets/fonts/abel-font.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    src: local("Lato"), url('./assets/fonts/Lato-Light.ttf') format('truetype');
}
